$light-background: #f8f9fa;
$light-hover-background: #ececec;
$light-headline: #000;
$light-text: #212529;
$light-card: #fff;
$light-border: #ced4da;
$dark-background: #343a40;
$dark-hover-background: #414850;
$dark-headline: #fff;
$dark-text: #dee2e6;
$dark-card: #212529;
$dark-border: #495057;
$dark-success: #28a745;
$dark-success-hover: #218838;
$dark-input: $dark-card;

$z-index-cookie-consent: 99999;
$z-index-editor-fullscreen: 9999;
$z-index-main-footer: 1020;

$dark-mode-transition-duration: 0.5s;
$dark-mode-transition-type: linear;

$main-nav-height: 74px;

$discord: #7289da;
